.form-size {
  width: 100%;
  min-height: 250px;
  margin-top: 10px;
  }

.showcased-content {
  padding: 125px 0;
}

#landing-page-header {
  font-size: 5rem;
}

#user-header {
  font-size: 3rem;
}

.header {
  margin-bottom: 20px;
}

.ui.form.showcased-content {
  max-width: 25%;
  margin: 0 auto;
}

form.ui.form.showcased-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

