.form-size {
  width: 100%;
  min-height: 250px;
  }

.showcased-content {
  padding: 150px;
}

#landing-page-header {
  font-size: 5rem;
}

#user-header {
  font-size: 3rem;
}

.two.column.stackable.ui.grid {
  margin: 10px 0 0 0;
}