.form-size {
  width: 100%;
  min-height: 250px;
  margin-top: 10px;
  }

.showcased-content {
  padding: 125px 0;
}

#landing-page-header {
  font-size: 5rem;
}

#user-header {
  font-size: 3rem;
  margin: 40px 0;
}

.header {
  margin-bottom: 20px;
  font-size: 3rem;
}

.ui.form.showcased-content {
  max-width: 25%;
  margin: 0 auto;
}

form.ui.form.showcased-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-weight: 700;
}

.ui.container h1 {
  text-align: center;
}

div.container div.message {
  width: 50%;
  margin: auto;
}

div.card {
  margin: auto;
}

#logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.ui.toggle.checkbox {
  margin-left: 50px;
}