<div class="ui center aligned container">

  <div class="showcased-content">

    <h1 id="user-header">Hi, <%= @user.username %>!</h1>

    <a href="/sequences/new" class="ui green button">Create New Sequence</a>

    <a href="/sequences" class="ui blue button">View Your Sequences</a>



  </div>


</div>

