<div class="ui container">

  <% if flash && flash.has?(:message) %>
    <div class="ui negative message">
      <div class="header">
        <%= flash[:message] %>
      </div>
    </div>
  <% end %>

  <form class="ui form showcased-content" action="/signup" method="post">
    <h1>Sign Up!</h1>
    <div class="field">
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="first_name">
    </div>
    
    <div class="field">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input type="text" id="email" name="email">
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="text" id="password" name="password">
    </div>

    <button class="huge fluid ui blue button">Submit</button>
  </form>
 

</div>

