<!DOCTYPE html>

<html>
<head>
  <title>āsanāḥ</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<div class="ui stackable menu">
  <a id="logo" class="item" href="/">āsanāḥ</a>
  <% if logged_in? %>
    <a class="item" href="/sequences">Your Sequences</a>
    <a class="item" href="/sequences/new">New Sequence</a>    
  <% end %>
  
    <div class="right menu">
      <% if logged_in? %>
        <a class="item">Logged in as <%= current_user.username %></a>
        <a class= "item" href="/logout">Log Out</a>
      <% else %>
        <a class="item" href="/login">Log In</a>
      <% end %>
    </div>
  
</div>

<body>

  <%= yield %>

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <script src="/scripts/asanah.js"></script>
</body>

</html>
