<h1><%= current_user.first_name %>'s Sequences</h1>

<% @sequences.each do |sequence| %>
  <div>
    <a href="/sequences/<%= sequence.slug %>"><%= sequence.name %></a>
    <p>Notes:<%= sequence.notes %></p>
  </div>
<% end %>
