<form action="/sequences" method="post">

  <label for="name">Name</label>
  <input type="text" id="name" name="sequence[name]">

  <label for="name">Notes</label>
  <textarea id="notes" name="sequence[notes]">Your notes here</textarea>

  <label>Your sequence:</label>
  <div class="usr-sequence">
    
  </div>

  <button>Submit</button>

</form>

<br></br>

Choose from here:

<% @asanas.each do |asana| %>
  <div class="asana">
    <input type="hidden" name="asanas[]" value="<%= asana.id %>">
      <p><%= asana.english_name %> (<%= asana.devanagari_name %>)</p>
    </input>
  </div>
<% end %>