<form action="/sequences" method="post">

  <label for="name">Name</label>
  <input type="text" id="name" name="sequence[name]">

  <label for="name">Notes</label>
  <textarea id="notes" name="sequence[notes]">Your notes here</textarea>

  <% @asanas.each do |asana| %>
    <input type="hidden" name="asanas[]" value="<%= asana.id %>">
      <p><%= asana.english_name %></p>
    </input>
  <% end %>

  <button>Submit</button>

</form>