<h1><%= @sequence.name %></h1>
<div>
  <h3>Notes:</h3>
  <%= @sequence.notes %>
</div>

<h3>Your sequence:</h3>
<% @sequence.asanas.each do |asana| %>
  <div class="asana">
    <%= asana.english_name %>
  </div>
<% end %>

<a href="/sequences/<%= @sequence.slug %>/edit">Edit</a>